@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Oswald";
  font-weight: bolder;
  src: url("./assets/fonts/Oswald-VariableFont_wght.ttf") format("woff2");
  font-display: block;
}
@font-face {
  font-family: "Quattrocento";
  src: url("./assets/fonts/QuattrocentoSans-Regular.ttf") format("woff2");
  font-display: block;
}
@layer base {
  body {
    @apply bg-background;
    @apply font-Secondary;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d1d0ce3e;
    border-radius: 5px;
  }
}
